# Inspiration from https://gist.github.com/tdd/470582
[user]
	name = Aidan Loughney
	email = loughneyaidan@gmail.com
[color]
	ui = auto
[alias]
	# Useful when you have to update your last commit
  	# with staged files without editing the commit message.
  	oops = commit --amend --no-edit
	# Edit last commit message
  	reword = commit --amend
  	# Undo last commit but keep changed files in stage
  	uncommit = reset --soft HEAD~1
  	# Remove file(s) from Git but not from disk
  	untrack = rm --cache --
[core]
	editor = nano
[init]
	defaultBranch = main
